body {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 75px;
  display: flex;
  gap: 16px;
  background-color: #1f2937;
  align-items: center;
  color: #fbfcfc;
}

.header .logo {
  font-size: 24px;
  color: #E5E7EB;
  font-weight: bold;
}

.header .header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.push-right {
  margin-left: auto;
}


.first-fourth {
  display: flex;
  background-color: #1f2937;
  color: #fbfcfc;
  align-items: center;
  flex-grow: 1;
  max-height: 400px;
}

.first-fourth .left-content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.first-fourth .left-content p {
  font-size: 18px;
  color: #E5E7EB;
}

.first-fourth .right-content {
 display: flex; 
 justify-content: center;
 flex-grow: 1;
}

.first-fourth .right-content img{ 
  max-width: 55%;
  max-height: 380px;
  object-fit: contain;
  border: 3px solid black;
}

.second-fourth {
  text-align: center;
  flex-grow: 1;
}

.second-fourth h1 {
  font-weight: 900;
  font-size: 36px;
}

.rando-info-container {
  display: flex;
  justify-content: center;
}

.rando-info-container div{
  display: flex;
  border: #3b82f6 3px solid;
  border-radius: 10%;
  margin: 0 16px;
  flex-grow: 1;
  height: 125px;
  max-width: 125px;
}

.rando-info-text-container {
  display: flex;
  justify-content: center;
}

.rando-info-text-container  p{
  display: flex;
  border-radius: 10%;
  margin: 16px;
  flex-grow: 1;
  height: 125px;
  max-width: 130px;
}

.third-fourth {
  background-color: #e5e7eb;
  flex-grow: 1;
}

.fourth-fourth {
  flex-grow: 1;
}


.footer {
  height: 75px;
  border: black 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fbfcfc;
}

body .footer {
  
}