body {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 75px;
  display: flex;
  gap: 16px;
  background-color: #1f2937;
  align-items: center;
  color: #fbfcfc;
}

.header .logo {
  font-size: 24px;
  color: #E5E7EB;
  font-weight: bold;
  margin-left: 8.5%;
}

.header .header-link {
  font-size: 18px;
  color: #E5E7EB;
}

.push-right {
  margin-left: auto;
}

.push-left {
  margin-right: 10%;
}


.first-fourth {
  display: flex;
  background-color: #1f2937;
  color: #fbfcfc;
  align-items: center;
  flex-grow: 1;
  max-height: 400px;
}

.first-fourth .left-content h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-left: 15%;
}

.first-fourth .left-content p {
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 15%;
}

.first-fourth .right-content {
 display: flex; 
 justify-content: center;
 flex-grow: 1;
 margin-bottom: 30px;
}

.first-fourth .left-content button {
  margin-left: 15%;
  padding: 5px 25px;
  border-radius: 8px;
  background-color: #3882f6;
  color: white;
  font-weight: bolder;
}

.first-fourth .right-content img{ 
  max-width: 55%;
  max-height: 380px;
  object-fit: contain;
  border: 3px solid black;
}

.second-fourth {
  text-align: center;
  flex-grow: 1;
}

.second-fourth h1 {
  font-weight: 900;
  font-size: 36px;
}

.rando-info-container {
  display: flex;
  justify-content: center;
}

.rando-info-container div{
  display: flex;
  border: #3b82f6 3px solid;
  border-radius: 10%;
  margin: 0 16px;
  flex-grow: 1;
  height: 125px;
  max-width: 125px;
}

.rando-info-text-container {
  display: flex;
  justify-content: center;
}

.rando-info-text-container  p{
  display: flex;
  border-radius: 10%;
  margin: 16px;
  flex-grow: 1;
  height: 125px;
  max-width: 130px;
}

.third-fourth {
  background-color: #e5e7eb;
  flex-grow: 1;
}

.third-fourth .quote-content {
  font-size: 36px;
  font-style: italic;
  margin: 50px 200px 25px 200px;
}

.third-fourth .quote-author {
  display: flex;
  font-weight: 1000;
  justify-content: flex-end;
  margin-right: 25%;
  margin-top: 0;
}

.fourth-fourth {
  display: flex;
  flex-grow: 1;
}

.fourth-fourth .blue-part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b82f6;
  color: white;
  width: 69%;
  height: 50%;
  margin: auto;
  border-radius: 10px;
}

.fourth-fourth .blue-part button {
  display: flex;
  margin-left: 50%;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 8px;
  background-color: #3882f6;
  color: white;
  font-weight: bolder;
  width: 100px;
  height: 30px;
}

.fourth-fourth .blue-part h4 {
  margin-bottom: 0;
}

.fourth-fourth .blue-part p {
  margin-top: 0;
  font-size: 12px;
  color: #dee3eb;
}

.footer {
  height: 75px;
  border: black 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fbfcfc;
}
