* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  height: 75px;
  border: black 3px solid;
  display: flex;
  gap: 16px;
  background-color: #1f2937;
  align-items: center;
  color: #fbfcfc;
}

.first-fourth {
  display: flex;
  background-color: #1f2937;
  color: #fbfcfc;
  align-items: center;
}

.first-fourth .right-content {
 display: flex; 
 justify-content: center;
 flex-grow: 1;
}

.first-fourth .right-content img{ 
  max-width: 55%;
  padding: 50px;
  object-fit: scale-down;
}

.second-fourth {
  display: flex;
  justify-content: center;
}



.push-right {
  margin-left: auto;
}

.footer {
  height: 75px;
  border: black 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #fbfcfc;
}
